.team {
    
    @media (max-width: 767px){
        &__item:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    @media (min-width:768px) and (max-width:1199px){
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
        margin-top: -30px;
    }
    @media (min-width:1200px){
        display: flex;
        &__item:not(:last-child){
            margin-right: 30px;
        }  
    }
}

.cards {
    width: 270px;
    height: 428px;

    background: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    @media (max-width: 767px){
        width: 450px;
        height: 622px;
    }
    @media (min-width:768px) and (max-width:1199px){
        width: 354px;
        height: 536px;
        margin-left: 30px;
        margin-top: 30px;
     }
}

.cards__name {
    margin-top: 30px;
    margin-bottom: 10px;
  
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
  
.cards__description {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19;
    text-align: center;

    color: $sub-text;
}

.cards__img{
    @media (max-width: 767px){
    width: 450px;
    height: 460px;      
    }
    @media (min-width:768px) and (max-width:1199px){
        width: 354px;
        height: 374px;
     }
}